{% extends 'base.html.twig' %}

{% block title %}Nieuwe product{% endblock %}

{% block body %}
    <h1>Nieuwe product maken</h1>

    {{ include('products/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('products_index') }}">Terug naar lijst</a>
{% endblock %}
